<app-nav-bar></app-nav-bar>
<div class="bio-page fade-in">
    <div class="bio-container">
        <div class="text">
            <h3><span>
                Enoch Hsiao, a current sophomore at the University of Massachusetts Amherst, 
                is currently undergoing a BA music degree under Professor Gilles Vonsattel. 
                As a previous student of Marina Lupinacci in Pittsburgh Pennsylvania, 
                Enoch is known for his diverse, technical, and unique interpretations from baroque and classical to romantic and impressionism. 
                <br><br>
                Enoch has won multiple accolades and awards. 
                Enoch won first place of Division 2 in the 2014 International Video Upload Social Music Works Piano Competition ($500). 
                In 2015, Enoch won the Pittsburgh Concert Society Young Artist competition in solo piano ($500). 
                In 2017, he was the winner of the PYSO Concerto Competition, 
                playing Franz Liszt Piano Concerto No. 2 in Pittsburgh’s Heinz Hall, 
                as well as the winner of the Pittsburgh Philharmonic’s Young Artist Concerto Competition ($250). 
                In 2018, he won the 2018 Butler County Symphony Young Artist Competition performing Rachmaninoff's Piano Concerto No. 2 ($200)
                and the Christine Bane Kefferstan International Classical Competition at WVU School of Music ($250).
                <br><br>
                Enoch also performs regularly with chamber ensemble,
                winning first prize in the Great Composers Competition Best Ensemble (Trio) First Prize as a pianist. 
                <br><br>
            </span></h3>
        </div>
    </div>
</div>

