.contact-page {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contact-container {
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
}

ul {
  margin-top: 100px;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#buttons li {
  float: left;
  list-style-type: none;
}

.fa {
  padding: 20px;
  font-size: 80px;
  width: 125px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
  background: gray;
  color: whitesmoke;
}

@media only screen and (max-width: 700px) {
  ul {
    padding-left: 0px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fa {
    padding: 20px;
    font-size: 60px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
  }
}

