<app-nav-bar></app-nav-bar>
<div class="contact-page fade-in" [ngStyle]="{'background-image': getBackgroundUrl()}">
    <div class="contact-container">
        <nav id="buttons">
            <ul>
              <li><a target="_blank" href="https://www.facebook.com/EnochHsiaoUmass" class="fa fa-facebook"></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/enoch-hsiao-77b326193/" class="fa fa-linkedin"></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/enoch-hsiao-77b326193/" class="fa fa-youtube"></a></li>
              <li><a target="_blank" href="mailto:enochhsiao@umass.edu" class="fa fa-envelope"></a></li>
            </ul>
        </nav>
    </div>
</div>
